<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <!--Network To SOA-->
  <add key="IP" value="10.113.21.163"/>
  <add key="Port" value="3128"/>

    <!--Network-->
    <add key="IPm" value="10.113.21.163"/>
    <add key="Portm" value="50002"/>
    
    <!--Service -->
    <add key="teamName" value="West-Net"/>
    <add key="ServiceName" value="GIORP-TOTAL"/>
    <add key="serviceTagName" value="giorpTotaller"/>

    <add key="SecLevel" value="1"/>
    <add key="NumArgs" value="2"/>
    <add key="NumResp" value="5"/>
    <add key="ServiceDesc" value="This will determine the total purcahse amount by province and all that jazz!"/>
    <!--Args  -->
    <!--Args 1 -->
    <add key="arg1Position" value="1"/>
    <add key="arg1Name" value="province"/>
    <add key="arg1DataType" value="string"/>
    <add key="arg1ManOpt" value="mandatory"/>
    <!--Args 2 -->
    <add key="arg2Position" value="2"/>
    <add key="arg2Name" value="value"/>
    <add key="arg2DataType" value="double"/>
    <add key="arg2ManOpt" value="mandatory"/>
    <!--RSP -->
    <!--RSP1 -->
    <add key="rsp1Position" value="1"/>
    <add key="rsp1Name" value="subTotal"/>
    <add key="rsp1DataType" value="double"/>
    <add key="rsp1value" value=""/>
    <!--RSP 2 -->
    <add key="rsp2Position" value="2"/>
    <add key="rsp2Name" value="PST"/>
    <add key="rsp2DataType" value="double"/>
    <add key="rsp2value" value=""/>
    <!--RSP 3 -->
    <add key="rsp3Position" value="3"/>
    <add key="rsp3Name" value="HST"/>
    <add key="rsp3DataType" value="double"/>
    <add key="rsp3value" value=""/>
    <!--RSP 4 -->
    <add key="rsp4Position" value="4"/>
    <add key="rsp4Name" value="GST"/>
    <add key="rsp4DataType" value="double"/>
    <add key="rsp4value" value=""/>
    <!--RSP 5 -->
    <add key="rsp5Position" value="5"/>
    <add key="rsp5Name" value="Total"/>
    <add key="rsp5DataType" value="double"/>
    <add key="rsp5value" value=""/>



  </appSettings>
</configuration>